@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Source+Serif+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: source serif pro, sans-serif;
    font-weight: 300;
    color: black;
}

/*headings and page name styling*/

h1,
h2 {
    font-family: oswald, san sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#logo {
    float: left;
    font-size: 100%;
}

/*navigation links*/

#menu {
    font-size: 150%;
    letter-spacing: 4px;
    float: right;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background-color: blue;
}

.active {
    background-color: blue;
}

/*background image column and content column*/

.outer-container {
    display: grid;
    grid-template-columns: 20fr 20fr;
    height: 500px;
    width: 100%;
    overflow: hidden;
  
}

.left-container {
    width: 100%;
}

.hero-image {
    height: 100%;
    width: 100%;
    float: left;
    object-fit: cover;
    overflow: hidden;
    background-color: aqua;
}

.right-container {
    display: grid;
    width: 100%;
    float: right;

}

.text-center {
    text-align: center;
}

.content {
   
}