@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&family=Source+Serif+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/*body styles*/

body {
    font-family: source serif pro, sans-serif;
    font-weight: 300;
    color: #0A1D37;
    background-color: #FFEEDB;

}

#page-container {
    width: 100%;
    height: 100%;
    position: relative;
}

p {
    font-size: 150%;
    font-family: source serif pro, sans-serif;
    color: #0A1D37;
}

/*headings and logo styling*/

h1,
h2 {
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#logo {
    float: left;
    font-size: 150%;
    padding: 0.5rem;
}

/*navigation links*/

#menu {
    font-size: 150%;
    letter-spacing: 4px;
    float: right;
    padding: 0.5rem;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background-color: #FFD8CC;
}

.active a:hover {
    background-color: #FFD8CC;
}

/*hero image and cover text*/

.outer-container {
    display: grid;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
}

.first-container {
    height: 600px;
    width: 100%;
    position: relative;
}

.hero-image {
    height: 600px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}


#page-name h1 {
    font-size: 700%;
    font-family: oswald, sans-serif;
    color: rgba(255, 216, 204, .9);
}

#page-name {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    align-items: center;

    width: 500px;
    height: 400px;

    padding: 1em;

    bottom: 70px;
    right: 50px;

    position: absolute;
}

/*second container, about section*/

#second-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
}

div {
    width: 100%;
    max-width: 100%;
    flex-basis: 50%;
    justify-content: space-around;
}

.text-center {
    max-width: 60%;
}

.text-center h2 {
    font-size: 150%;
    text-align: center;
}

.text-center p {
    text-align: center;

}

.about-section {
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    gap: 1.5rem;
    overflow: hidden;
}

/*more infomation section*/

#join-us {
    text-align: center;
}

#social {
    text-align: center;
}

#explore {
    text-align: center;
}

#enjoy-food {
    text-align: center;
}

/*footer elements*/

.ftr-bottom {
    bottom: 0;
    background-color: rgba(255, 216, 204, .9);
    position: absolute;
}

footer {
    height: 50px;
}

footer ul {
    list-style-type: none;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.social-links>li {
    justify-content: space-evenly;
    margin: 0 30px;
}

.social-networks i {
    font-size: 160%;
    color: #FFD8CC;
    justify-content: space-between;
}

/*workshops page styles*/

#workshops {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 2rem;
    gap: 1rem;
}

#workshops>h1 {
    font-size: 300%;
    font-weight: 500px;
}

#workshops p {
    text-align: center;
}

/*the chefs*/

#the-chefs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

#the-chefs img {
    width: 30%;
    object-fit: cover;
}

#description {
    width: 20%;
    align-items: center;
    text-align: center;
    background-color: #FFBD9B;
    padding: 1rem;

}

#description h2 {
    font-size: 200%;
    font-weight: 300px;
}

#chef-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

#chef-2 img {
    width: 30%;
    object-fit: cover;
}

#description-2 {
    width: 20%;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: #FFBD9B;
}

#description-2 h2 {
    font-size: 200%;
    font-weight: 300px;
}

#chef-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

#chef-3 img {
    width: 30%;
    object-fit: contain;
}

#description-3 {
    width: 20%;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: #FFBD9B;
}

#description-3 h2 {
    font-size: 200%;
    font-weight: 300px;
}

/*sign up button*/

#btn-container {
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
}

.sign-button {
    border-radius: 50px;
    font-size: 150%;
    font-weight: 700px;
    text-transform: uppercase;
    align-self: center;
    padding: 2rem;
}

.button {
    background-color: #FFBD9B;
    padding: 1rem;
}

/*gallery page styles*/

.image-box {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}

.image-box img {
    width: 20%;
    max-width: 50%;
    padding: 1rem;
    object-fit: cover;
}

/*make gallery page responsive code from https://youtu.be/R_tkus2uYI4*/

.image-box img:hover {
    transform: scale(1.1);
}

.zoom {
    cursor: pointer;
    transition: transform .2s;
    height: 10%;
    width: 10%;
    margin: 0 auto;
}

/*sign-up page, form and map styles*/

#contact-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-container {
    max-width: 80%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

#flex-container {
    padding: 1rem;
    background-color: #FFBD9B;
}

#flex-container h2 {
    font-size: 200%;
    font-weight: 500;
    margin-bottom: 1rem;
}

.form {
    display: grid;
    row-gap: 1rem;
}

.form label {
    font-size: 150%;
}

.form input {
    width: 80%;
    border: none;
    padding: 10px;
    font-size: 100%;
    border-radius: 0.3rem;
}

.flex-container-option select {
    width: 80%;
    border: none;
    padding: 10px;
    font-size: 100%;
    border-radius: 0.3rem;
}

.form .checkbox {
    width: 40px;
}

.form .submit-form-button {
    width: 50%;
    border: none;
    background-color: #FFD8CC;
    font-size: 150%;
    font-weight: 400;
    border-radius: 15px;
    text-transform: uppercase;
    cursor: pointer;
}

.flex-container .submit-form-button:hover {
    background: rgba(255, 216, 204, .7);
}

.map iframe {
    width: 100%;
    height: 100%;
}
